
.sticky-topbar {
  width: 100%;
}

.menu li:hover{
text-decoration: underline;
}

.top-bar{
position: relative;
  background-color: black;
  background: rgba(0, 0, 0, 0.6) !important; 
  z-index: 20;
  
 }

.top-bar-left
.menu, 
.menu a, ul{
    background: rgba(255, 255, 255, 0) !important;
}

body{

  background-image: url("../images/background.png") !important;

}

.adjust{
  text-align: center;
}

.backdrop{
  background: rgba(0, 0, 0, 0.2) !important; 
}

.main-text{
  color: #1496D2;
  font-size: 65px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
.main-subtext{
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}


.lead {
  padding-left:4vw !important;
  padding-right:4vw !important;
  border-radius:20px !important;
  text-transform: uppercase !important;
}

#logo{
  width:15vw;
  height:7vh;
}


.contact-us-section {
  padding: 2rem;
  background: #fefefe;
}

.contact-us-section .contact-us-section-left {
  padding-right: 2rem;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-left {
    border-right: 1px solid #e6e6e6;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contact-us-section .contact-us-section-right {
  padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-right {
    border-left: 1px solid #e6e6e6;
  }
}

.contact-us-section .contact-us-header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 32px;
  }
}

.contact-us-section .responsive-embed {
  margin-bottom: 0;
  padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
  background: transparent;
  color: #8a8a8a;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #0a0a0a;
}

.contact-us-list li::before {
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  color: #8a8a8a;
  font-family: 'FontAwesome';
}

.contact-us-list .address::before {
  content: '\f041';
  margin-left: 0.4rem;
  margin-right: 2.3rem;
}

.contact-us-list .email::before {
  content: '\f003';
}

.contact-us-list .phone::before {
  content: '\f098';
}

.form-set{
  background-color:white;
}


.people-you-might-know {
  background-color: #fefefe;
  padding: 1rem 0 0;
  border: 1px solid #cacaca;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
}

.people-you-might-know .add-people-header {
  padding: 0 0.9375rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-header .header-title {
  font-weight: bold;
}

.people-you-might-know .add-people-section {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar {
  padding-right: 0.5rem;
  padding-left: 0;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar .avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people .about-people-author {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-name {
  color: #0a0a0a;
  margin: 0.375rem 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-location,
.people-you-might-know .add-people-section .about-people .about-people-author .author-mutual {
  color: #8a8a8a;
  margin-bottom: 0;
  font-size: 0.85em;
}

.people-you-might-know .add-people-section .add-friend {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 39.9375em) {
  .people-you-might-know .add-people-section .add-friend {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.people-you-might-know .add-people-section .add-friend .add-friend-action {
  margin-top: 0.7rem;
}

.people-you-might-know .view-more-people {
  margin: .7rem 0;
}

.people-you-might-know .view-more-people .view-more-text {
  margin-bottom: 0;
  text-align: center;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link {
  color: #1779ba;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link:hover, .people-you-might-know .view-more-people .view-more-text .view-more-link:focus {
  text-decoration: underline;
}

.form-set{
  margin-top:10vh;
}

.OOF{
  font-size: 20vh;
  margin-top:10vh;
}


.large-6:last-child {
  text-align: right;
}

.four-oh-four {
  font-size: 50vh;
  text-align: center;
  color: white;
  animation: flashing 1.5s infinite
}
.large-6:last-child {
 text-align: right;
}

.OOF {
  color: white
}

@keyframes flashing{
  0%{ color: red;}
  70%{ color: transparent;}

  80%{color: transparent}
  100%{color:red;}
}

body{
  background: silver;
}

.msg{
color:white;
}