<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <title>404</title>
</head>
<body>
<div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="logo"><img src="./images/logo.png" alt="logo" id="logo"></li>

                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu" data-dropdown-menu>

                    <li><a href="#"><h3>About Us</h3></a></li>
                    <li><a href="#"><h3>Contact</h3></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="grid-container">

    <div class="grid-x grid-padding-x">
        <div class="large-6 cell">
            <h1 class="OOF">OOF!</h1>
            <h3 class="msg">Not all who wander are lost,</h3>
            <h3 class="msg">but your clearly are.</h3>
        </div>
        <div class="large-4 cell">
            <h3 class="four-oh-four">404</h3>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">

        </div>
    </div>

</div>

{{!-- <div class="block">
    block
</div> --}}

<script src="/js/app.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
</body>
</html>