<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/foundation.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="logo"><img src="./images/logo.png" alt="logo" id="logo"></li>

                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu" data-dropdown-menu>

                    <li><a href="#"><h3>About Us</h3></a></li>
                    <li><a href="#"><h3>Contact</h3></a></li>

                </ul>
            </div>
        </div>
    </div>

    <section class="contact-us-section">
        <div class="row medium-unstack">
            <div class="columns contact-us-section-left">
                <h1 class="contact-us-header">Complete the Form</h1>
                <div class="responsive-embed">
                    <div id="map" class="map"></div>
                    <script type="text/javascript">
                        var map = new ol.Map({
                          target: 'map',
                          layers: [
                            new ol.layer.Tile({
                              source: new ol.source.OSM()
                            })
                          ],
                          view: new ol.View({
                            center: ol.proj.fromLonLat([37.41, 8.82]),
                            zoom: 4
                          })
                        });
                      </script>
                </div>

                <ul class="contact-us-list">
                    <li class="address">100 W Rincon Ave, Campbell CA 95008</li>
                    <li class="email"><a href="mailto:">hello@yeticave.com</a></li>
                    <li class="phone">1 (408) 445 9978 </li>
                </ul>
            </div>
            <div class="columns contact-us-section-right">
                <h1 class="contact-us-header">Mail Us</h1>
                <form class="contact-us-form">
                    <input type="text" placeholder="Restuarant name">
                    <input type="email" placeholder="Location">
                    <input type="email" placeholder="">
                </form>
            </div>
        </div>
    </section>

</div>


<script src="./js/app.js"></script>
<script src="./js/vendor/foundation.js"></script>
<script src="./js/vendor/foundation.min.js"></script>
<script src="./js/vendor/jquery.js"></script>
<script src="./js/vendor/what-input.js"></script>

</body>
</html>