<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/foundation.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="logo"><img src="../public/images/logo.png" alt="logo" id="logo"></li>

                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu" data-dropdown-menu>

                    <li><a href="#"><h3>About Us</h3></a></li>
                    <li><a href="#"><h3>Contact</h3></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row medium-unstack">
    <section class="contact-us-section">
            <div class="columns contact-us-section-left">
                <h1 class="contact-us-header">Complete the Form</h1>
            </div>
            <div class="columns contact-us-section-right">
                <h1 class="contact-us-header">Form</h1>
                <form class="contact-us-form">
                    <input type="text" placeholder="Restuarant name">
                    <input type="email" placeholder="Location">
                    <input type="email" placeholder="">
                </form>
                <button type="button" class="button large primary lead">Let's Go!</button>
            </div>
       
    </section>
</div>
</div>


<script src="./js/app.js"></script>
<script src="./js/vendor/foundation.js"></script>
<script src="./js/vendor/foundation.min.js"></script>
<script src="./js/vendor/jquery.js"></script>
<script src="./js/vendor/what-input.js"></script>

</body>
</html>