<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/foundation.css">
    <link rel="stylesheet" href="./css/foundation.min.css"> -->

    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/foundation.min.css">
    <script src="https://kit.fontawesome.com/577bfa7a63.js" crossorigin="anonymous"></script>
    <link rel="icon" href="./images/logo.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stoem</title>
</head>
<body>

            <div class="top-bar-container" data-sticky-container>
                    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
                      <div class="top-bar">
                        <div class="top-bar-left"><i class="fas fa-user"></i>
                          <ul class="menu">
                                <li class="logo"><img src="./images/logo.png" alt="logo" id="logo"></li>
                                
                          </ul>
                        </div>
                        <div class="top-bar-right">
                                <ul class="menu" data-dropdown-menu>
      
                                  <li><a href="#"><h3>About Us</h3></a></li>
                                  <li><a href="#"><h3>Contact</h3></a></li>

                                </ul>
                              </div>
                      </div>
                    </div>
                  </div>
                  
     <div class="grid-container ">
                          
        <div class="grid-x grid-padding-x  text-center form-set">
            <div class="large-6 medium-6 cell backdrop">
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=campbell&zoom=13&scale=false&size=600x300&maptype=roadmap&sensor=false&format=png&visual_refresh=true" alt="Google Map of campbell" alt="" />
              </div>
              <div class="large-6 medium-6 cell backdrop">
                  <div class="people-you-might-know">
                      <div class="add-people-header">
                        <h6 class="header-title">
                          Shelters near you
                        </h6>
                      </div>
                      <div class="row add-people-section">
                        <div class="small-12 medium-6 columns about-people">
                          <div class="about-people-avatar">
                            <img class="avatar-image" src="https://images.unsplash.com/photo-1551178620-08c30a98f641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Happy helpers">
                          </div>
                          <div class="about-people-author">
                            <p class="author-name">
                              Happy Helpers Shelter
                            </p>
                            <p class="author-mutual">
                                <strong><i class="fas fa-teeth-open"></i> 20</strong> to feed
                              </p>
                            <p class="author-location">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              Cape Town, South Africa
                            </p>
                          </div>    
                        </div>
                        <div class="small-12 medium-6 columns add-friend">

                        </div>
                      </div>
                      <div class="row add-people-section">
                        <div class="small-12 medium-6 columns about-people">
                          <div class="about-people-avatar">
                            <img class="avatar-image" src="https://images.unsplash.com/photo-1551178620-08c30a98f641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Happy helpers">
                          </div>
                          <div class="about-people-author">
                            <p class="author-name">
                              Happy Helpers Shelter
                            </p>
                            <p class="author-mutual">
                              <strong><i class="fas fa-teeth-open"></i> 17</strong> to feed
                              </p>
                            <p class="author-location">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              Cape Town, South Africa
                            </p>
                          </div>    
                        </div>
                        <div class="small-12 medium-6 columns add-friend">

                        </div>
                      </div>
                      <div class="row add-people-section">
                        <div class="small-12 medium-6 columns about-people">
                          <div class="about-people-avatar">
                            <img class="avatar-image" src="https://images.unsplash.com/photo-1551178620-08c30a98f641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Happy helpers">
                          </div>
                          <div class="about-people-author">
                            <p class="author-name">
                              Happy Helpers Shelter
                            </p>
                            <p class="author-mutual">
                              <strong><i class="fas fa-teeth-open"></i> 15 </strong> to feed
                              </p>
                            <p class="author-location">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              Cape Town, South Africa
                            </p>
                          </div>    
                        </div>
                        <div class="small-12 medium-6 columns add-friend">

                        </div>
                      </div>

                    
                      <div class="view-more-people">
                        <p class="view-more-text">
                          <a href="#" class="view-more-link">  <button type="button" class="button expanded"> Confirm Selection</button></a>
                        </p>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              </div>


    </div>

    <script src="../public/"></script>
    <script src="../public/js/vendor/foundation.js"></script>
    <script src="../public/js/vendor/foundation.min.js"></script>
    <script src="../public/js/vendor/jquery.js"></script>
    <script src="../public/js/vendor/what-input.js"></script>
    
</body>
</html>